body {
    text-align: center;
    background-color: #284946;
  }
  
  h1 {
    font-size: 5.25rem;
    color: #e6f9ff;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #0481da;
  
  }
  
  footer {
    color: #dbe3f3;
    font-family: sans-serif;
  }
  
  .w {
    background-image: url("images/crash.png");
  }
  
  .a {
    background-image: url("images/kick.png");
  }
  
  .s {
    background-image: url("images/snare.png");
  }
  
  .d {
    background-image: url("images/tom1.png");
  }
  
  .j {
    background-image: url("images/tom2.png");
  }
  
  .k {
    background-image: url("images/tom3.png");
  }
  
  .l {
    background-image: url("images/tom4.png");
  }
  
  .set {
    margin: 10% auto;
  }
  
  .game-over {
    background-color: rgb(250, 0, 165);
    opacity: 0.75;
  }
  
  .pressed {
    box-shadow: 0 4px 5px 0 #dbf3f2;
    opacity: 0.6;
  }
  
  .red {
    color: rgb(202, 0, 252);
  }
  
  .drum {
    outline: none;
    border: 11px solid #405869;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 910;
    color: #68da04;
    text-shadow: 3px 0 #dbf3e8;
    border-radius: 16px;
    display: inline-block;
    width: 160px;
    height: 160px;
    text-align: center;
    margin: 11px;
    background-color: rgb(244, 244, 244);
  }